@charset 'UTF-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  /* -webkit-font-smoothing : 폰트 가장자리 계단현상 없애줌 */
  -webkit-font-smoothing: antialised;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1.2rem;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  width: 1rem;
  height: 1rem;
  background: #17aa9d;
  border-radius: 5rem;
}

body::-webkit-scrollbar-button {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #17aa9d;
  border-radius: 5rem;
}

#lottie {
  position: absolute;
  width: 60rem;
  z-index: -999;
  opacity: 40%;
}

/*----- scrollbar */
#body_full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;

  /* 배경 색상 지정 : 검정색 */
  background-color: #000000;

  /* 포지션 지정 실시 : fixed 사용해 브라우저 전체 덮음 */
  position: fixed;
  top: 0%;
  left: 0%;

  /* z-index 우선 순위 설정 : 다른 레이아웃 보다 크고, 팝업창 보단 작아야함 */
  z-index: 999999;

  /* 투명도 조절 실시 */
  opacity: 0.5;

  /* display 설정 : 표시 여부 */
  display: none;
}

section {
  cursor: none;
  cursor: default;
  width: 100%;
  height: 100vh;
}

.wrap {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 9999;
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.1rem);
  position: sticky;
}

.logo {
  width: 11.3rem;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 3.6875rem;
  height: 5.5625rem;

}

.menu_wrap {
  display: inline-flex;
  align-items: center;
  gap: 5rem;
}

.menu {
  color: #333;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.menu:hover {
  color: #17aa9d;
  transition: all 0.5s;
  cursor: pointer;
}

.contact {
  font-size: 1.5rem;
  font-weight: 600;
  color: #17aa9d;
  padding: 1rem 2rem;
  border: 3px solid #17aa9d;
  border-radius: 3rem;
  background-color: #fff;
  transition: all 0.5s;
}

.contact:hover {
  color: #fff;
  background-color: #17aa9d;
  cursor: pointer;
}

/* --------//header */

.sideNav {
  width: 8rem;
  height: 100vh;
  position: fixed;
  top: 350%;
  right: -17%;
  z-index: 999;
}

.sideNav a {
  display: inline-block;
  padding: 0.7rem;
  border: 3px solid #17aa9d;
  border-radius: 3rem;
  background: #fff;
  margin-bottom: 2em;
}

.sideNav a:hover {
  background: #17aa9d;
}

.sideNav .on a {
  background: #17aa9d;
}

/*------//.sideNav*/
main {
  margin-top: 8rem;
}

.banner_wrap {
  height: 29rem;
  padding-bottom: 18rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  width: 32%;
  flex-shrink: 0;
}

.box_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.textbox1 {
  display: flex;
  width: 27.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  flex-shrink: 0;
}

.text1 {
  color: #999;
  font-family: Pretendard;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00938rem;
}

.text2 {
  color: #555;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.big {
  color: #17aa9d;
  font-family: Pretendard;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.11563rem;
}

.big:hover {
  transition: 0.5s linear;
  margin: 0 0.2rem;
  color: #fff;
  text-shadow: 0 0 10px #17aa9d, 0 0 20px #fff, 0 0 40px #fff;
}

.big:hover::after {
  content: "";
}

.bold {
  color: #333;
  font-family: Pretendard;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.543rem;
}

.text2_2 {
  letter-spacing: 0.4rem;
}

.buttonbox_wrap {
  display: flex;
  width: 27.75rem;
  gap: 5.8rem;
  /* justify-content: space-between; */
  align-items: center;
}

.btn {
  display: flex;
  padding: 1.4375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.1875rem;
  border: 3px solid #17aa9d;
  background: #fff;
  color: #17aa9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn:hover {
  display: flex;
  padding: 1.4375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.1875rem;
  background: #17aa9d;
  color: #fff;
  transition: all 0.5s;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* cursor: pointer; */
}

/* -------------//banner */

.contents_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 12.5rem;
  flex-shrink: 0;
  background: linear-gradient(180deg,
      #fffffe 0%,
      #fff 45.31%,
      #fff 57.81%,
      #fffffe 100%);
}

.textbox2 {
  display: flex;
  width: 59.375rem;
  height: 6.9375rem;
  padding: 2.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3dvh;
  border: 3px solid #17aa9d;
  gap: 1.2rem;
}

.textbox2 p:nth-child(1) {
  color: #777;
  text-align: center;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textbox2 p:nth-child(2) {
  color: #aaa;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textbox2 p:nth-child(3) {
  color: #777;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about_section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.about_section:last-child {
  align-items: center;
}

.about_content_wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_content_sm {
  width: 5rem;
  color: #898989;
  text-align: justify;
  font-family: Pretendard;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
}

.about_content_big {
  color: #555;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tg>.about_content_big {
  border: 2px solid #17aa9d;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}

.tg>.about_content_big:hover {
  background-color: #17aa9d;
  color: #fff;
  transition: all 0.5s;
}

.tg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about_title {
  color: #17aa9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textbox_about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.88rem;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.box1:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

h1 {
  color: #555;
  font-family: Pretendard;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box_title {
  display: flex;
  width: 4.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #17aa9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.box_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.62rem;
}

.box_content_sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.7rem;
  color: #898989;
  text-align: justify;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
}

.box_content_big {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;
  color: #555;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box_content_big_col {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  color: #555;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
}

.skill_row {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}

.progress-bar {
  position: relative;
  padding: 0;
  width: 16.3vw;
  height: 1.2rem;
  border: 0.2rem solid #17aa9d;
  border-radius: 3rem;
}

.progress-bar .bar {
  position: absolute;
  left: -0.1rem;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #17aa9d;
  width: 0;
  border-radius: 3rem;
  /* 틀만남고 안에 채워지는거 사라짐 */
}

.bar {
  display: flex;
  justify-content: right;
}

.progress-bar .rate {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  line-height: 20px;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

/* ↓세로 스크롤바 생김 */
.content {
  height: 800px;
  font-size: 3em;
}

.row_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.row_text {
  width: 100%;
  text-align: left;
  color: #777;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------project_img */
.project .project_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.project .item {
  position: absolute;
  top: 0;
  height: 30vw;
}

.project .mockup.pc .mask {
  position: absolute;
  z-index: 8;
  width: 25.8vw;
  height: 58.8%;
  overflow: hidden;
  left: 8%;
  top: 7.3%;
  border-radius: 0 0 0.25rem 0.25rem;
}

/*--------------------------------------project_img */

.project_item {
  display: flex;
  width: 100%;
  height: 47rem;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  align-self: stretch;
}

.title_sm2 {
  padding: 0 0 0 7rem;
  color: #17aa9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title_b2 {
  padding: 0 0 0 7rem;
  color: #333;
  text-align: center;
  font-family: Pretendard;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list_wrap2 {
  padding: 0 0 0 7rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  color: #666;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.67rem;
}

.button_wrap2 {
  padding: 0 0 0 7rem;
  width: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.625rem;
}

.button {
  display: flex;
  padding: 1.4375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.1875rem;
  border: 3px solid #17aa9d;
  background: #fff;
  color: #17aa9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:hover {
  display: flex;
  padding: 1.4375rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 2.1875rem;
  background: #17aa9d;
  transition: all 0.5s;
}

.gallery {
  width: 100%;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

/* 목업부분 */
.mockupbox {
  width: 50%;
  height: 100%;
  position: relative;
}

.mockup {
  overflow: hidden;
  position: relative;
}

.pc {
  position: absolute;
  top: 19%;
  left: 3.8%;
  width: 92%;
  height: 77%;
  overflow: hidden;
  z-index: 1;
}

.tablet {
  position: absolute;
  top: 39%;
  left: 69.9%;
  width: 30%;
  height: 72%;
  overflow: hidden;
  z-index: 2;
}

.mobile {
  position: absolute;
  top: 46%;
  width: 17%;
  height: 61%;
  overflow: hidden;
  z-index: 3;
}

.pj3 {
  position: absolute;
  left: 37%;
  top: 24%;
  width: 29%;
  height: 100%;
}

.tablet .mask {
  position: absolute;
  top: 2.1%;
  width: 88%;
  left: 6%;
  height: 44.97%;
  overflow: hidden;
  border-radius: 0.2rem;
}

.mobile .mask {
  position: absolute;
  top: 5.5%;
  width: 85.2%;
  left: 7.8%;
  height: 36.8%;
  overflow: hidden;
}

.mask_screen {
  width: 100%;
  overflow: auto;
}

/* 카페in */
.mask_screen_pj4 {
  position: absolute;
  top: 6.5%;
  left: 7%;
  width: 100%;
}

.screen_pj4 {
  z-index: 100;
  position: relative;
  width: 87%;
  height: 100%;
}

/* /////카페in */
.device {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.screen {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100%;
}

.textbox_wrap1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.875rem;
}

.textbox_wrap2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.875rem;
  align-self: stretch;
}

.title_sm {
  padding: 0 7rem 0 0;
  color: #17aa9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title_b {
  padding: 0 7rem 0 0;
  color: #333;
  text-align: center;
  font-family: Pretendard;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list_wrap {
  padding: 0 7rem 0 0;
  width: 25rem;
  display: flex;
  flex-direction: column;
  color: #666;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.67rem;
}

.button_wrap {
  padding: 0 7rem 0 0;
  width: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.625rem;
}

li {
  list-style: none;
}

.container {
  width: 660px;
  margin: 100px auto;
  overflow: hidden;
}

.slide_wrapper {
  position: relative;
  width: 660px;
  padding-top: 200px;
  margin: auto;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
}

.slides li {
  position: absolute;
  width: 200px;
  height: 100%;
}

.hover-txt {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  height: 100%;

}

.hover-txt:hover {
  background-color: #fff;
  opacity: 60%;
  text-align: center;
  transition: all 0.5s;
}

.txt {
  visibility: hidden;
}

.hover-txt:hover .txt {
  visibility: visible;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #333;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: auto;
}

.controls {
  text-align: center;
  margin-top: 80px;
}

.controls span {
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.pager {
  margin: auto;
  width: 10rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/*  */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(180deg,
      #fffffe 0%,
      #fff 45.31%,
      #fff 57.81%,
      #fffffe 100%);
}

.contact_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.contactbox {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contactbox p {
  color: #666;
  text-align: right;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150.523%;
}

.contactbox p:hover {
  color: #17aa9d;
}

.contactbox a {
  color: #666;
  text-decoration: none;
}

.contactbox a:hover {
  cursor: pointer;
  color: #17aa9d;
}

.textbox3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  height: 9.8125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.textbox3 p:nth-child(1) {
  color: #555;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150.523%;
  /* 1.88156rem */
}

.textbox3 p:nth-child(2) {
  color: #555;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150.523%;
}

/* -------//footer */

/* popup */
/* .popup_wrap {
  display: none;
} */

.artWork1_popup {
  width: 50rem;
  height: 35rem;
  background-color: #fff;
  border: 3px solid #17aa9d;
  margin: auto;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  z-index: 9999;
  position: absolute;
  top: 0;
  display: none;
}

.popup_bar {
  width: 100%;
  height: 2rem;
  background-color: #17aa9d;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: right;
}

.artWork1_popup .close {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: transparent;
}

.artWork1_popup img {
  width: 20rem;
  height: 20rem;
  padding: 1rem 0;
}

.popup_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.artWork1_popup ul {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  gap: 0.5rem;
  width: 10rem;
  height: 8rem;
  text-align: left;
}

.artWork1_popup li {
  text-align: left;
}

/* //popup */



* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* -webkit-font-smoothing : 폰트 가장자리 계단현상 없애줌 */
  -webkit-font-smoothing: antialised;
}

ul,
il {
  list-style: none;
}

.tab-wrapper {
  max-width: 1000px;
  margin: auto;
  /* margin-top: 5rem; */
}

.tab-menu {
  padding: 4rem 0;
  width: 100%;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-menu li {
  width: 11rem;
  /* display: inline-block; */
  list-style: none;
  background: #ebebeb;
  /* margin-right: 10px; */
  border-radius: 2rem;
  padding: 0.7rem;
  border: 3px solid #17aa9d;
  transition: all 0.5s;
}

.tab-menu li:hover {
  background: #17aa9d;
}

.tab-menu li:hover a {
  color: #fff;
}

.tab-menu li a {
  color: #17aa9d;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 27px;
  text-decoration: none;
  display: block;
  padding: 0 1.28rem;
}

.tab-menu li a.active {
  /* background: #000; */
  color: #17aa9d;
}

.tab-menu li a.active:hover {
  color: #fff;
}


#background{
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
  border-radius: 1rem 1rem 0rem 0rem;
}
#popup-content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: transparent;
  display: none;
  overflow: auto;
}
#popup-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: white;
  display: none;
  overflow: auto;
}
#popup-content3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: white;
  display: none;
  overflow: auto;
}
#popup-content4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: white;
  display: none;
  overflow: auto;
}
.tab-contentbox{
  margin: auto;
  width: 90%;
  height: 700px;
  overflow: auto;  
}
.tab-contentbox{
  ::-webkit-scrollbar {
    width: 1.2rem;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    width: 1rem;
    height: 1rem;
    background: #17aa9d;
    border-radius: 5rem;
  }
  ::-webkit-scrollbar-button {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #17aa9d;
    border-radius: 5rem;
  } 
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
  width: 100%;
  border-radius: 1.5rem;
  border: 3px solid #17AA9D;
  background: #FFF;
  padding: 0;
}

.top_bar {
  width: 100%;
  height: 3rem;
  border-radius: 1rem 1rem 0rem 0rem;
  background: #17AA9D;
  text-align: right;
}

.top_bar svg {
  margin-right: 2rem;
}


.tab-1_content_box .img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-2_content_box .img {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img_text1 {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #000;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img_text2 {
  color: #000;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img_box img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
}

.tab-2_content_box .txt1 {
  text-align: center;
  color: #666;
  font-family: Pretendard;
  font-size: 1.2rem;
}

/*  */
.row {
  width: 420px;
  margin: 0 auto;
}

.row ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row ul li {
  display: inline-table;
  width: 30%;
}

.row ul li img {
  width: 100%;
}

/* 라이트 박스 스타일 */
#lightbox {
  position: fixed;
  width: 100%;

  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
}

/* 라이트 박스 안의 이미지 */
#lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #eee;
  overflow: hidden;
  z-index: 100;
}

.all_scrollFixed {
  overflow: hidden;
}

.all_scrollFixed::before {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1000%;
  height: 10000%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  content: '';
  z-index: 95;
}

#lightboxImage {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 80%;
  height: 80vh;
  overflow-y: auto;
  top: 100px;
}




@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 10px;
  }

  .menu_wrap {
    display: none;
  }

  .progress-bar .rate {
    line-height: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 8px;
  }

  .menu_wrap {
    display: none;
  }
}